$ cd /Users/liriansu/new-repo
$ git init                        # 初始化git目录
$ git checkout -b gh-pages        # 新建gh-pages分支，并切换过去
# 跑完上一条命令后，把你的index.html文件放到new-repo文件夹里
$ git add index.html              # 告诉git说index.html要提交了
$ git commit -m "add index.html"  # 提交index.html
$ git remote add origin https://github.com/<username>/<repository>
$ git push -u origin gh-pages     # 推到GitHub服务器上
